:root {
    --verde: #3cbc8c;
    --azul: #144474;
    --verde-claro: #E8FFF7;
}

.menu-topo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 75vw;
    margin-bottom: 3vw;
}

.actions {
    display: flex;
}

.actions .info-action {
    display: flex;
    flex-direction: column;
}

.actions .info-action p {
    font-size: 1vw;
}

.actions .info-action .action {
    display: flex;
    flex-direction: row;
    width: 20vw;
    height: 10vw;
    background-color: var(--verde-claro);
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
}


.actions .info-action .action p {
    width: 7vw;
    font-size: 1vw;
    color: var(--verde);
}

.actions .info-action .action img {
    width: 5vw;
    height: 5vw;
}

.menu-profissionais {
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 82vw;
}

h1 {
    font-size: 1.3vw;
    width: 22vw;
    color: var(--verde);
    text-align: center;
    margin-bottom: 3vw;
}

.input-filtros {
    display: flex;
    justify-content: space-between;
    width: 55vw;
    margin-bottom: 4vw;
}

.input-filtros input {
    margin-left: 0.5vw;
    font-size: 0.99vw;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    width: 28vw;
    height: auto;
    border: none;
}

.input-filtros input:focus {
    outline: none;
}

.content-input {
    padding-left: 0.3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32vw;
    height: 3vw;
    border: solid 1px #000000;
    border-radius: 16px;
}

.filtros {
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6vw;
    height: 3vw;
    border: solid 1px var(--verde);
}

.filtros p {
    font-size: 1vw;
}

.content-input i {
    color: var(--verde);
    font-size: 1.4vw;
    margin-left: 5px;
}

/*area dos cards de serviços*/

.area-servicos {
    display: flex;
    flex-direction: column;
}

.card-servico {
    display: flex;
    justify-content: space-around;
    width: 55vw;
    height: auto;
    border: solid 1px black;
    border-radius: 25px;
}

.tamplate-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65%;
}

.tamplate-img img {
    width: 5vw;
    height: 5vw;
    border: solid 2px grey;
    border-radius: 50%;
}

.perfil-avaliado {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.desc-cliente {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.6vw;
}

.star {
    display: flex;
    width: 200vw;
}

.ri-star-s-fill {
    font-size: 1.4vw;
    color: #d9d9d9;
    margin: 0;
}

.ava {
    color: var(--verde);
}

h2 {
    margin: 0;
}

.emblemas {
    display: flex;
    gap: 0.8vw;
}

.content-desc {
    height: auto;
}

.desc {
    width: 25vw;
    font-size: 1vw;
    height: auto;
}



img {
    width: 2vw;
    height: 2vw;
}


.contrate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-contratar {
    background-color: var(--verde);
    color: white;
    width: 8vw;
    font-size: 1vw;
    height: 3vw;
    border: none;
    border-radius: 1vw;
    transition: 0.25s ease-in-out;
}

.btn-contratar:hover {
    background-color: var(--azul);
}

.serv-realizados {
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 1vw;
}

img {
    width: 30px;
    height: 30px;
}


.desc {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 1vw;
    margin: 0;
}

.desc.expandido {
    -webkit-line-clamp: initial;
}


.vma-vme {
    cursor: pointer;
    color: var(--azul);
}