<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>

<head>
    <meta charset="utf-8">
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: https://ssl.gstatic.com 'unsafe-eval'; 
             style-src 'self' 'unsafe-inline' https://cdn.jsdelivr.net; 
             font-src 'self' https://fonts.gstatic.com data:; 
             script-src 'self' 'unsafe-eval' https://cdn.jsdelivr.net;
              script-src 'self' 'unsafe-eval' https://cdn.jsdelivr.net">-->
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="initial-scale=1, width=device-width, viewport-fit=cover">
    
    <link rel="stylesheet" href="/../css/cadastro.css">

    <title>SideQuest</title>
</head>

<body>
    <div class="forms">
        <div class="l-side">
            <img src="../img/cad-img.png">
        </div>
        <div class="r-side">
            <div class="content-logo">
                <img src="../img/sidequest_3.png">
            </div>
            <div class="campos">
                <h2>Crie sua conta!</h2>
                <label class="btn-slide">
                    <input type="checkbox">
                    <span class="slider">
                </label>
                <input placeholder="Digite seu nome" />
                <input placeholder="Digite seu email" />
                <input placeholder="Digite seu cpf ou cnpj." />
                <input placeholder="Digite seu nome" />
                <input placeholder="Digite seu nome" />
                <button class="btn-criar">Criar</button>
                <div class="entre-google">
                    <div class="linha"></div>
                    <p>ou entre com o google</p>
                    <div class="linha"></div>
                </div>
            </div>
        </div>
        <script src="cordova.js"></script>
</body>