<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/global.css">
    <title>SideQuestt</title>
</head>
<body>
    <header>
        <img class="img-logo" src="../img/logo_SideQuest.png" alt="Logo do SideQuest">
        <div class="notificacao">
            <i class="fa-solid fa-bell"></i>
        </div>
    </header>

    <nav class="sidebarCliente">
        <div class="options">
            <a href="/homeCliente" class="option">
                <div class="connected-bar"></div>
                <i class="fa-solid fa-house"></i>
                <p>Início</p>
            </a>

            <a href="/perfil" class="option">
                <div class="connected-bar"></div>
                <i class="fa-regular fa-user"></i>
                <p>Perfil</p>
            </a>
            <a href="/chats" class="option">
                <div class="connected-bar"></div>
                <i class="fa-regular fa-comments"></i>
                <p>Chats</p>
            </a>
            <a href="/favoritos" class="option">
                <div class="connected-bar"></div>
                <i class="fa-regular fa-star"></i>
                <p>Favoritos</p>
            </a>
            <a href="/historico" class="option">
                <div class="connected-bar"></div>
                <i class="fa-solid fa-clock-rotate-left"></i>
                <p>Histórico</p>
            </a>
            <a href="/pagamentos" class="option">
                <div class="connected-bar"></div>
                <i class="fa-solid fa-hand-holding-dollar"></i>
                <p>Pagamentos</p>
            </a>
        </div>
        <a href="/config" class="config">
            <div class="option">
                <div class="connected-bar"></div>
                <i class="fa-solid fa-gear"></i>
                <p>Configurações</p>
            </div>
        </a>
    </nav>

</body>
</html>