<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Color theme for statusbar (Android only) -->
    <meta name="theme-color" content="#2196f3">
    <!-- Your app title -->
    <title>SideQuest</title>

    <!-- CSS PERSONALIZADO PARA MENU-->
    <link rel="stylesheet" href="../css/historico.css">
    <link rel="stylesheet" href="../css/global.css">
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="../css/remixicons/remixicon.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
    <header>
        <img class="img-logo" src="../img/logo_SideQuest.png" alt="Logo do SideQuest">
        <div class="notificacao">
            <i class="fa-solid fa-bell"></i>
        </div>
    </header>

    <nav class="sidebarCliente">
        <div class="options">
            <a href="/homeCliente" class="option">
                <div class="connected-bar"></div>
                <i class="fa-solid fa-house"></i>
                <p>Início</p>
            </a>

            <a href="/perfil" class="option">
                <div class="connected-bar"></div>
                <i class="fa-regular fa-user"></i>
                <p>Perfil</p>
            </a>
            <a href="/chats" class="option">
                <div class="connected-bar"></div>
                <i class="fa-regular fa-comments"></i>
                <p>Chats</p>
            </a>
            <a href="/favoritos" class="option">
                <div class="connected-bar"></div>
                <i class="fa-regular fa-star"></i>
                <p>Favoritos</p>
            </a>
            <a href="/historico" class="option">
                <div class="connected-bar"></div>
                <i class="fa-solid fa-clock-rotate-left"></i>
                <p>Histórico</p>
            </a>
            <a href="/pagamentos" class="option">
                <div class="connected-bar"></div>
                <i class="fa-solid fa-hand-holding-dollar"></i>
                <p>Pagamentos</p>
            </a>
        </div>
        <a href="/config" class="config">
            <div class="option">
                <div class="connected-bar"></div>
                <i class="fa-solid fa-gear"></i>
                <p>Configurações</p>
            </div>
        </a>
    </nav>

    <div class="content-midia">
        <div class="conteudo-historico">
            <div class="hist-pesq">
                <h2>Histórico</h2>
                <div class="input-procurar">
                    <input type="text" placeholder="procurar">
                    <i class="ri-search-line"></i>
                </div>
            </div>

            <div class="area-historico">
                <div class="historicos">
                    <div class="hist-cabecalho">
                        <div class="alinhador">
                            <p>Serviços</p>
                        </div>
                        <div class="alinhador">
                            <p>Início</p>
                        </div>
                        <div class="alinhador">
                            <p>Fim</p>
                        </div>
                        <div class="alinhador">
                            <p>Categoria</p>
                        </div>
                    </div>

                    <div class="card-historico">
                        <div class="alinhador">
                            <div class="info-prof">
                                <p class="desc-tipo-servico">Pintura de parede</p>
                                <p class="desc-nome-prof">Profissional: Vitor Roque</p>
                            </div>
                        </div>

                        <div class="alinhador">
                            <p>10/02/2020 15:00h</p>
                        </div>

                        <div class=" alinhador">
                            <p>13/02/2020 17:56h</p>
                        </div>

                        <div class=" alinhador">
                            <div class="categoria">
                                <p>Elétrica</p>
                            </div>
                        </div>
                    </div>

                    <div class="card-historico">
                        <div class="alinhador">
                            <div class="info-prof">
                                <p class="desc-tipo-servico">Pintura de parede</p>
                                <p class="desc-nome-prof">Profissional: Vitor Roque</p>
                            </div>
                        </div>

                        <div class="alinhador">
                            <p>10/02/2020 15:00h</p>
                        </div>

                        <div class=" alinhador">
                            <p>13/02/2020 17:56h</p>
                        </div>

                        <div class=" alinhador">
                            <div class="categoria">
                                <p>Elétrica</p>
                            </div>
                        </div>
                    </div>

                    <div class="card-historico">
                        <div class="alinhador">
                            <div class="info-prof">
                                <p class="desc-tipo-servico">Pintura de parede</p>
                                <p class="desc-nome-prof">Profissional: Vitor Roque</p>
                            </div>
                        </div>

                        <div class="alinhador">
                            <p>10/02/2020 15:00h</p>
                        </div>

                        <div class=" alinhador">
                            <p>13/02/2020 17:56h</p>
                        </div>

                        <div class=" alinhador">
                            <div class="categoria">
                                <p>Elétrica</p>
                            </div>
                        </div>
                    </div>

                    <div class="card-historico">
                        <div class="alinhador">
                            <div class="info-prof">
                                <p class="desc-tipo-servico">Pintura de parede</p>
                                <p class="desc-nome-prof">Profissional: Vitor Roque</p>
                            </div>
                        </div>

                        <div class="alinhador">
                            <p>10/02/2020 15:00h</p>
                        </div>

                        <div class=" alinhador">
                            <p>13/02/2020 17:56h</p>
                        </div>

                        <div class=" alinhador">
                            <div class="categoria">
                                <p>Elétrica</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="cordova.js">
    </script>
    <script src="../js/index.js">
    </script>
</body>