<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS PERSONALIZADO PARA MENU-->
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/perfilProfissional.css">
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="css/remixicons/remixicon.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>SideQuest</title>
</head>
<body>
    <header>
        <img class="img-logo" src="../img/logo_SideQuest.png" alt="Logo do SideQuest">
        <div class="notificacao">
            <i class="fa-solid fa-bell"></i>
        </div>
    </header>

    <nav class="sidebarCliente">
        <div class="options">
            <a href="/homeCliente" class="option">
                <div class="connected-bar"></div>
                <i class="fa-solid fa-house"></i>
                <p>Início</p>
            </a>

            <a href="/perfil" class="option">
                <div class="connected-bar"></div>
                <i class="fa-regular fa-user"></i>
                <p>Perfil</p>
            </a>
            <a href="/chats" class="option">
                <div class="connected-bar"></div>
                <i class="fa-regular fa-comments"></i>
                <p>Chats</p>
            </a>
            <a href="/favoritos" class="option">
                <div class="connected-bar"></div>
                <i class="fa-regular fa-star"></i>
                <p>Favoritos</p>
            </a>
            <a href="/historico" class="option">
                <div class="connected-bar"></div>
                <i class="fa-solid fa-clock-rotate-left"></i>
                <p>Histórico</p>
            </a>
            <a href="/pagamentos" class="option">
                <div class="connected-bar"></div>
                <i class="fa-solid fa-hand-holding-dollar"></i>
                <p>Pagamentos</p>
            </a>
        </div>
        <a href="/config" class="config">
            <div class="option">
                <div class="connected-bar"></div>
                <i class="fa-solid fa-gear"></i>
                <p>Configurações</p>
            </div>
        </a>
    </nav>

    <section class="content-midia">
        <div class="perfil-profissional">
            <div class="cabecalho-perfil">
                <div class="perfil-nome">
                    <img src="../img/icone-perfil.png" alt="icone de perfil">
                    <div class="nome-profissao">
                        <h1>Caio Bezerra</h1>
                        <h2>Eletricista</h2>
                </div>
                </div>
                    <div class="menu-perfil">
                        <ul>
                            <li>Sobre</li>
                            <li>Mídia(4)</li>
                            <li>Avaliações</li>
                        </ul>
                    </div>
                    <hr>
            </div>
            <div class="descricao-profissional">
                <div class="avaliacao">
                    <button>Editar</button>
                    <div class="num-avaliacao">
                        <p>5.00</p>
                        <div class="estrela">
                            <img src="../img/Group 7.png" alt="estrelas">
                            <p>210 avaliações</p>
                        </div>
                    </div>
                        <div class="medalhas">
                            <img src="../img/medalha10k.png" alt="medalha 10">
                            <img src="../img/medalhaouro.png" alt="medalha de ouro">
                            <img src="../img/medelhabronze.png" alt="medalha de bronze">
                        </div>     
                </div>
                <div class="info-pessoais">
                    <div class="sobremim">
                        <h2>Sobre mim</h2>
                        <p>Eu sou um eletricista formado pela FATEC e tenho 5 anos de experiência em instalações elétricas e manutenção. Sou especializado em reparos elétricos residenciais e comerciais, incluindo a instalação de novos sistemas elétricos, reparos de fiação, iluminação e muito mais. Tenho conhecimento em tecnologia e inovação e estou sempre atualizado com as últimas tendências do setor. Sou capaz de trabalhar bem em equipe e tenho excelentes habilidades de comunicação.</p>
                    </div>
                    <div class="registro-servicos">
                        <div class="registro">
                            <img src="../img/agenda.png" alt="agenda">
                            <p>Registro em: Out/23</p>
                        </div>
                        <div class="servicos">
                            <img src="../img/certificado.png" alt="certificado">
                            <p>Serviços Realizados: 210</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <script src="cordova.js">
    </script>
    <script src="js/index.js">
    </script>
</body>
</html>