:root {
    --verde: #3cbc8c;
    --azul: #144474;
    --verde-claro: #E8FFF7;
}

.menu-topo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 75vw;
    margin-bottom: 3vw;
}

.actions {
    display: flex;
}

.actions .info-action {
    display: flex;
    flex-direction: column;
}

.actions .info-action p {
    font-size: 1vw;
}

.actions .info-action .action {
    display: flex;
    flex-direction: row;
    width: 20vw;
    height: 10vw;
    background-color: var(--verde-claro);
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
}


.actions .info-action .action p {
    width: 7vw;
    font-size: 1vw;
    color: var(--verde);
}

.actions .info-action .action img {
    width: 5vw;
    height: 5vw;
}

.menu-profissionais {
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 82vw;
}

h1 {
    font-size: 1.3vw;
    width: 22vw;
    color: var(--verde);
    text-align: center;
    margin-bottom: 3vw;
}
/*Fazendo sessao input*/
.input-filtros {
    display: flex;
    justify-content: space-between;
    width: 55vw;
    margin-bottom: 4vw;
}

.input-filtros input {
    margin-left: 0.5vw;
    font-size: 0.99vw;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    width: 28vw;
    height: auto;
    border: none;
}

.input-filtros input:focus {
    outline: none;
}

.content-input {
    padding-left: 0.3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32vw;
    height: 3vw;
    border: solid 1px #000000;
    border-radius: 16px;
}

.filtros {
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6vw;
    height: 3vw;
    border: solid 1px var(--verde);
}

.filtros p {
    font-size: 1vw;
}

.content-input i {
    color: var(--verde);
    font-size: 1.4vw;
    margin-left: 5px;
}


/*area dos cards de serviços*/

