@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Mono:wght@600&display=swap');

:root {
    --verde: #3cbc8c;
    --azul: #144474;
    --verde-claro: #E8FFF7;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    width: 100vw;
    height: 100%;
    flex-direction: column;
    overflow-x: hidden !important;
}

header {
    margin-top: 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 3vw;
}

nav {
    display: flex;
    font-size: 1.5vw;
}

nav a,
nav ul {
    text-decoration: none;
    list-style: none;
}

ul.t1 {
    display: flex;
    align-items: center;
    gap: 6vw;
    width: 65vw;
    justify-content: center;
}

ul.t1 a {
    color: black;
}

ul.t2 {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5vw;
    list-style: none;
    margin-right: 1.5vw;
}

ul.t2 a {
    text-decoration: none;
    font-weight: 800;
    color: #ffffff;
    font-size: 1.3vw;
}

.t2 .btn-insc {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6vw;
    height: 2.5vw;
    border-radius: 20px;
    background-color: #ffffff;
}

.t2 .btn-insc a {
    font-size: 1vw;
    color: var(--verde);
}

.img-logo {
    width: 8vw;
    height: 3vw;
    margin-left: 3vw;
}

.banner {
    width: 100vw;
    display: flex;
    align-items: center;
    margin-bottom: 4.166666666666667vw;
}

.img-banner {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    width: 38vw;
    height: 43vw;
}

.left-banner {
    margin-top: 10vw;
    margin-left: 3vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.banner .content-input i {
    color: var(--verde);
    font-size: 1.4vw;
    margin-left: 5px;
}

.banner .content-input {
    padding-left: 0.3vw;
    margin-top: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32vw;
    height: 3vw;
    border: solid 1px #144474;
    border-radius: 10px 10px 10px 10px;
    box-shadow: -1px 10px 20px -4px rgba(0, 0, 0, 0.48);
    -webkit-box-shadow: -1px 10px 20px -4px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: -1px 10px 20px -4px rgba(0, 0, 0, 0.48);
}

.content-input img {
    width: 2.3vw;
    height: 2.3vw;
    margin-right: 7px;
}

.left-banner input {
    margin-left: 0.5vw;
    font-size: 0.99vw;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    width: 28vw;
    height: auto;
    border: none;
}

.left-banner button:hover {
    background-color: var(--azul);
}

.left-banner button {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--verde);
    color: #ffffff;
    border: none;
    width: 7vw;
    height: 100%;
    border-radius: 0 10px 10px 0;
    font-size: 1vw;
    transition: all 0.5s ease;
}

.left-banner input:focus {
    outline: none;
    color: black;
}

.left-banner h1 {
    color: black;
    width: 40vw;
    font-size: 3vw;
}

.left-banner strong {
    color: var(--verde);
    text-decoration: underline;
}

/*Animação */
.animation1 {
    display: flex;
    gap: 13vw;
    margin-bottom: 10vw;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: flex;
    flex-direction: column;
    opacity: 0;
    transform: translateX(+120%);
    transition: all 2s;
}

.card {
    width: 15vw;
    height: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.show {
    display: flex;
    flex-direction: column;
    color: black;
    opacity: 1;
    transform: translateX(0);
    transition: all 2.5s;
}

.show h2 {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    font-size: 1.4vw;
    font-weight: 200;
}


.review,
.high-five {
    width: 17vw;
    height: 17vw;
}

.high-five {
    margin-top: -20px;
}

.agenda {
    width: 21vw;
    height: 15vw;
}

.animation2 {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    margin-bottom: 10vw;
}


.poster {
    display: flex;
    justify-content: flex-start;
}

.inner-img-ani1 {
    position: absolute;
    z-index: -1;
    height: 40vw;
    width: 30vw;
}

.inner-img-ani2 {
    padding: 5vw 0 0 3vw;
    width: 30vw;
    height: 20vw;
}

.conteudo-animation2 {
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4vw;
    width: 40vw;
    height: 30vw;
    padding-right: 10vw;
}

.conteudo-animation2 p {
    font-size: 1.5vw;
}

.conteudo-animation2 h2 {
    font-size: 2vw;
}

.encontrar-pro {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5vw;
    width: auto;
    height: auto;
    border-radius: 0.8vw;
    background-color: var(--verde);
    color: #ffffff;
    font-size: 1vw;
}

.hidden1:nth-child(1) .inner-img-ani1 {
    opacity: 0;
    transform: translateX(-80%);
    transition: all 2s;
}

.show1:nth-child(1) .inner-img-ani1 {
    opacity: 1;
    transform: translateX(0);
    z-index: -1;
    transition: all 2s;
}

.hidden1:nth-child(2) .inner-img-ani2 {
    opacity: 1;
    transform: translate(-100%, 100%);
    transition: all 2s;
    transition-delay: 200ms;
}

.show1:nth-child(2) .inner-img-ani2 {
    opacity: 1;
    transform: translate(0%, 0%);
    transition: all 2s;
    transition-delay: 400ms;
}

.hidden1 h2 {
    opacity: 0;
    transform: translateY(-100%);
    transition: all 2s;
}

.show1 h2 {
    opacity: 1;
    transform: translateY(0%);
    transition: all 2s;
    transition-delay: 700ms;
}

.hidden1 p {
    opacity: 0;
    transform: translateX(100%);
    transition: all 2s;
}

.show1 p {
    opacity: 1;
    transform: translateX(0%);
    transition-delay: 1000ms;
    text-align: justify;
}

.hidden1 a {
    opacity: 0;
    transform: translateY(100%);
    transition: all 2s;
}

.show1 a {
    opacity: 1;
    transform: translateY(0%);
    transition-delay: 1100ms;
}


.card-carrossel {
    width: 17vw;
    height: 24vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide .card-carrossel img {
    display: block;
    border-radius: 10px 10px 0 0px;
    width: 100%;
    height: 15vw;
    object-fit: cover;
    border-bottom: solid 3px var(--verde);
}

.swiper-slide .card-carrossel p {
    font-size: 1.3vw;
}

.swiper-slide .card-carrossel .btn-buscar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6vw;
    height: 3vw;
    border-radius: 6px;
    background-color: var(--verde);
    font-size: 1.3vw;
    transition: .25s ease-in-out;
}

.swiper-slide .card-carrossel .btn-buscar:hover {
    background-color: var(--azul);
}

.swiper-slide .card-carrossel .btn-buscar a {
    color: #fff;
    text-decoration: none;
}

.btns-swipper {
    display: flex;
    margin-right: 3vw;
    gap: 3vw;
}

.swiper-button-next, .swiper-button-prev {
    position: relative !important;
    width: 2vw !important;
    height: 2vw !important;
}

.btn-swipper {
    padding: 10px;
    border-radius: 50%;
    width: 2vw;
    height: 2vw;
    transition: 0.35s ease-in-out;
}

.btn-swipper:hover {
    background-color: #144474;
    outline: none;
    color: white;
}

.btn-swipper::after {
    font-size: 2vw !important;
}

.swiper-button-next {
    color: var(--verde);
    outline: 1px solid var(--verde);
    position: relative;
}

.swiper-button-prev {
    color: var(--verde);
    background-color: transparent;
    outline: 1px solid var(--verde);
    outline-offset: -1px;
    position: relative;

}

section.swippers .header-siwpper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5vw;
}

section.swippers {
    margin-left: 20px;
    margin-bottom: 70px;
}

section.swippers h2 {
    font-size: 2vw;
    font-weight: 700;
}

section.swippers h2 strong {
    color: var(--verde);
}

.carrossel {
    display: flex;
    justify-content: space-between;
    gap: 17vw;
    margin-bottom: 35px;
}

.left-carrossel {
    width: 18vw;
    padding-left: 9px;
    height: 24vw;
    display: flex;
    gap: 2vw;
}

.left-carrossel p {
    font-size: 1.5vw;
    margin: 0;
}

.carrossel-btn {
    display: flex;
    align-items: center;
    padding-left: 15px;
    border-left: solid 3px #757575;
    height: 5vw;
    transition: border-left 0.3s ease;
}

#carrossel-btn1 {
    border-left: solid 3px var(--verde);
}

#carrossel-palavra1 {
    color: var(--verde);
}
footer {
    display: flex;
    border-top: solid 1px var(--verde);
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2vw;
}

.beneficios {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.beneficios h3 {
    font-size: 2vw;
    margin-bottom: 20px;
}

.termos,
.sobre {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 1.2vw;
}

footer img {
    width: 8vw;
    height: 3vw;
}

.termos a,
.sobre a {
    color: #000000;
    text-decoration: none;
}