@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Mono:wght@600&display=swap');

:root {
    --verde: #3cbc8c;
    --azul: #144474;
    --verde-claro: #E8FFF7;
}

.conteudo-pagamento {
    margin-right: 5vw;
    display: flex;
    flex-direction: column;
    width: 70vw;
}

.pag-pesq {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-procurar {
    display: flex;
    width: 15vw;
    border: solid 2px black;
    padding: 5px;
    justify-content: space-between;
    border-radius: 20px;
}

.input-procurar input {
    border: none;
    width: 100%;
}

.input-procurar input:focus {
    outline: none;
}

.area-pagamento {
    box-shadow: -1px 10px 20px -4px rgba(0, 0, 0, 0.48);
    border-radius: 20px;
    padding-bottom: 20px;
    width: 70vw;
}

.pagamentos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    gap: 1vh;
    padding: 5px;
}

.pag-cabecalho {
    display: flex;
    justify-content: space-around;
}

.pag-cabecalho p {
    font-size: 1vw;
}

.card-pagamento {
    display: flex;
    align-items: center;
    padding: 5px;
    border: solid 1px black;
    border-radius: 50px;
}

.alinhador {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13vw;
}

.info-prof {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.info-prof img{
    width: 3.5vw;
}

.met-pag {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.met-pag i {
    font-size: 2vw;
}

.status {
    display: flex;
    justify-content: center;
    align-items: center;
    width:5vw;
    height: 3vw;
    background-color: var(--verde);
    border-radius: 10px;
}

.status p {
    color: white;
    font-size: 1vw;
}

.stt2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vw;
    height: 3vw;
    background-color: white;
    border-radius: 10px;
    border: solid 2px red;
}

.stt2 p {
    color: red;
    font-size: 1vw;
}