.content-midia {
display: flex;
justify-content: center;
align-items: center;
padding-left: 10vw;
padding-right: 10vw;
padding-top: 5vh;
}

.perfil-profissional {
box-shadow: 0px 4px 4px 0px #00000055;
width: 60vw;
}


/*Fazendo o cabeçalho*/

.perfil-profissional  .cabecalho-perfil .perfil-nome{
display: flex;
gap: 20px;
padding-right: 20px;
padding-left: 20px;
padding-top: 2vh;
}

.perfil-profissional .cabecalho-perfil .perfil-nome img {
width: 8vw;
height: 16vh;
border: 4px solid var(--verde);
border-radius: 100%;
}

.perfil-profissional .cabecalho-perfil .perfil-nome .nome-profissao h1 {
font-size: 1.7rem;
}

.perfil-profissional .cabecalho-perfil .perfil-nome .nome-profissao h2 {
font-weight:lighter;
font-size: 1.35rem;
}

.perfil-profissional .cabecalho-perfil .menu-perfil {
display: flex;
justify-content: flex-end;
}

.perfil-profissional .cabecalho-perfil .menu-perfil ul {
display: flex;
list-style: none;
}

.perfil-profissional .cabecalho-perfil .menu-perfil li {
margin-right: 20px;
font-size: 1.3rem;
}

/*Fim cabeçalho e fazendo a parte da descricao*/

.descricao-profissional {
display: flex;
align-items: center;
gap: 20px;
}

.descricao-profissional .avaliacao {
display: flex;
flex-direction: column;
gap: 20px;
padding: 10px;
align-items: center;
}

.descricao-profissional .avaliacao button {
width: 7.5vw;
height: 5.5vh;
color: white;
background-color: var(--verde);
border: none;
font-weight: bold;
}

.descricao-profissional .num-avaliacao {
display: flex;
align-items: center;
}

.descricao-profissional .num-avaliacao .estrela {
display: flex;
flex-direction: column;
}

.descricao-profissional .num-avaliacao > p {
font-size: 2rem;
margin:  10px;
color: gray;
font-weight: bolder;
}

.descricao-profissional .num-avaliacao .estrela p {
margin: 0;
}

.descricao-profissional .num-avaliacao .estrela img {
width: 5vw;
height: 2vh;
}

.descricao-profissional .avaliacao .medalhas img {
margin: 10px;
}

.descricao-profissional .info-pessoais {
width: 40vw;
gap: 10px;
}

.descricao-profissional .info-pessoais .registro-servicos {
display: flex;
gap: 20px;
align-items: center;
margin-bottom: 2.5vh;
}

.descricao-profissional .info-pessoais .registro-servicos .registro {
display: flex;
gap: 10px;
align-items: center;
}

.descricao-profissional .info-pessoais .registro-servicos .registro img {
width: 3vw;
height: 5.5vh;
}

.descricao-profissional .info-pessoais .registro-servicos .servicos {
display: flex;
gap: 10px;
align-items: center;
}

.descricao-profissional .info-pessoais .registro-servicos .servicos img {
width: 3vw;
height: 5.5vh;
}