.content-midia {
padding-right: 20vw;
}

.vizuPedido {
box-shadow: 0px 4px 4px 0px #00000055;
width: 60vw;
}


/*Fazendo o cabeçalho do card*/
.cabecalho-pedido {
display: flex;
flex-direction: column;
padding-left: 10vw;

}

.cabecalho-pedido h1 {
font-size: 2rem;
}

.cabecalho-pedido .preco-pedido {
display: flex;
justify-content: space-between;
width: 35vw;
margin: 10px;
}

.cabecalho-pedido .preco-pedido button {
background-color: var(--verde);
color: white;
border: none;
width: 6.5vw;
height: 5.5vh;
border-radius: 20px;
font-size: 1.10rem;
}



/*Fim do cabeçalho e início da descrição do serviço*/

.descricao {
padding: 40px;
gap: 25px;
display: flex;
}

.descricao .btn-Usuario {
display: flex;
flex-direction: column;
gap: 10px;
}

.descricao .btn-Usuario button {
margin: 10px;
width: 8.5vw;
height: 5vh;
border: none;
background-color: var(--verde);
color: white;
font-size: 1.10rem;
border-radius: 5px;
}

.descricao .btn-Usuario .usuario-desc {
display: flex;
gap: 10px;
}

.descricao .btn-Usuario .usuario-desc #perfil {
    width: 4vw;
    height: 7vh;
}

.descricao .usuario-desc .nome p {
    margin-bottom: 0px;
    }

.descricao .btn-Usuario .usuario-desc .nome .avaliacao {
display: flex;
align-items: flex-end;
gap: 7px;
}

.descricao .btn-Usuario .usuario-desc .avaliacao #estrela {
width: 7vw;
height: 3vh;
}

.descricao .btn-Usuario .distancia {
display: flex;
gap: 20px;
}

.descricao .desc-tempo-perdido .tempo-pedido{
display: flex;
gap: 7vw;
margin-top: 7vh;
justify-content: center;
}


.descricao .desc-tempo-perdido .tempo-inicio img{
height: 5vh;
width: 3vw;
}

.descricao .desc-tempo-perdido .tempo-inicio {
display: flex;
gap: 20px;
align-items: center;
}

.descricao .desc-tempo-perdido .tempo-fim {
display: flex;
gap: 20px;
align-items: center;
}